.material-color-picker {
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5rem 0.25rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    label {
        font-size: 8pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .color-select {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        --sb-size: 0.25rem;
        --hue-size: 1.75rem;

        @media only screen and (min-width: 664px) {
            flex-direction: row;
        }
    

        /* width */
        ::-webkit-scrollbar {
            width: var(--sb-size);
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background-color: var(--color-2);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: var(--color-3);
            opacity: 1;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background-color: var(--color-4);
            opacity: 0.9;
        }

        .color-hues {
            display: block;
            flex-grow: 1;
            
            .color-hue {
                display: inline-block;
                width: var(--hue-size);
                height: var(--hue-size);
                border: 1px solid transparent;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
            .color-hue:focus {
                outline: none;
                box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.85) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
            .color-hue.active {
                box-shadow: 0 0 2px 4px rgba(224, 224, 255, 0.65) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }

        .color-shades {
            display: block;
            flex-grow: 1;
            
            .color-shade {
                display: inline-block;
                width: var(--hue-size);
                height: var(--hue-size);
                border: 1px solid transparent;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
            .color-shade:focus {
                outline: none;
                box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.85) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
            .color-shade.active {
                box-shadow: 0 0 2px 4px rgba(224, 224, 255, 0.65) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }
    }
}
