.material-color-picker {
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5rem 0.25rem;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    label {
        font-size: 8pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .color-select {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-grow: 0;
        --sb-size: 0.25rem;
        --hue-size: 1.75rem;

        .color-panel {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .color-button {
                display: inline-block;
                width: var(--hue-size);
                height: var(--hue-size);
                border: 1px solid transparent;
                border-radius: 1rem;
                margin: 0.25rem;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                transition: border-radius 0.25s ease-in, background-color 0.25s ease-in-out;
            }
            .color-button:focus {
                outline: none;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.85) inset, 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                transition: border-radius 0.25s ease-in;
            }
            .color-button.active {
                border-radius: 0.25rem;
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.85) inset, 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                transition: border-radius 0.25s ease-out;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: var(--sb-size);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--color-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--color-3);
    opacity: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-4);
    opacity: 0.9;
}
