.widget-select {
    color: var(--color-1-text);
    background-color: var(--color-1);
    border: 1px solid var(--color-4);
    border-radius: 2px;
    padding: 0.15rem;
    option {
        color: var(--color-1-text);
        background-color: var(--color-1);
    }
}

.widget-select:hover {
    border: 1px solid var(--color-4);
    color: var(--color-4-text);
    background-color: var(--color-4);
    opacity: 0.75;
}

.widget-select:focus {
    border: 1px solid var(--color-4);
    opacity: 0.75;
    outline: none;
}
