.theme-silver {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #f0f0f0;
    --color-2: #c0c0c0;
    --color-3: #909090;
    --color-4: #808080;
}

.theme-green {
    --color-1-text: #000000;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #e1f6f4;
    --color-2: #3a9188;
    --color-3: #90e0ab;
    --color-4: #379956;
}

.theme-lavender {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #f8eded;
    --color-2: #f67280;
    --color-3: #c06c84;
    --color-4: #6c5b7c;
}

.theme-turquoise {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #d3f6d1;
    --color-2: #a7d7c5;
    --color-3: #74b49b;
    --color-4: #5c8d89;
}

.theme-pink {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #000000;
    --color-4-text: #ffffff;
    --color-1: #ffeaea;
    --color-2: #f8b595;
    --color-3: #ffd5a5;
    --color-4: #f67280;
}

.theme-orchid {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #f8b595;
    --color-2: #f67280;
    --color-3: #c06c84;
    --color-4: #6c5b7c;
}

.theme-red {
    --color-1-text: #000000;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #fecea8;
    --color-2: #ff847c;
    --color-3: #e84a5f;
    --color-4: #bc2525;
}

.theme-blue {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #ececec;
    --color-2: #9fd3c7;
    --color-3: #385170;
    --color-4: #142d4c;
}

.theme-coffee {
    --color-1-text: #000000;
    --color-2-text: #000000;
    --color-3-text: #000000;
    --color-4-text: #000000;
    --color-1: #fdefef;
    --color-2: #f4dfd0;
    --color-3: #dad0c2;
    --color-4: #cdBba7;
}

.theme-green-dark {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #000000;
    --color-4-text: #ffffff;
    --color-1: #062925;
    --color-2: #044a42;
    --color-3: #030303;
    --color-4: #295f4e;
}

.theme-red-dark {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #000000;
    --color-4-text: #ffffff;
    --color-1: #45171d;
    --color-2: #e84a5f;
    --color-3: #ff847c;
    --color-4: #9f1e49;
}

.theme-blue-dark {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #0d3562;
    --color-2: #2473aa;
    --color-3: #14539a;
    --color-4: #14539a;
}

.theme-lavender-dark {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #6c5b7c;
    --color-2: #f8eded;
    --color-3: #f67280;
    --color-4: #3b185f;
}

.theme-coffee-dark {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #000000;
    --color-4-text: #000000;
    --color-1: #753422;
    --color-2: #b05b3b;
    --color-3: #d79771;
    --color-4: #ffebc9;
}

.theme-crimson {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #801336;
    --color-2: #c72c41;
    --color-3: #2d132c;
    --color-4: #ee4540;
}

.theme-midnight {
    --color-1-text: #ffffff;
    --color-2-text: #ffffff;
    --color-3-text: #ffffff;
    --color-4-text: #ffffff;
    --color-1: #202020;
    --color-2: #404040;
    --color-3: #808080;
    --color-4: #272822;
}

.theme-brown {
    --color-1-text: #000000;
    --color-2-text: #ffffff;
    --color-3-text: #000000;
    --color-4-text: #ffffff;
    --color-1: #f3e1ba;
    --color-2: #bd9354;
    --color-3: #9e7540;
    --color-4: #85603f;
}