.material-palette-view {
    display: flex;
    flex-direction: row;
    overflow-y: auto;

    .preview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        margin: 0 auto;

        @media only screen and (min-width: 692px) {
            flex-direction: row;
            .virtual-screen {
                margin-left: 1rem;
            }
        }
    }
}
